* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  background-color: hsl(40, 80%, 76%);
  color: white;
  overflow-x: hidden;
  overscroll-behavior-y: none;
}

.primary-header {
  align-items: center;
  justify-content: space-between;
  margin-right: 7em;
  margin-left: 4em;
}

.logo {
  width: 20em;
  height: auto;
}

.primary-nav {
  list-style: none;
  padding: 0;
  margin: 0 0 0 45em;
}

@media (max-width: 35em) {
  .primary-nav {
    position: fixed;
    --gap: 2em;
    inset: 9% 0 0 0;

    z-index: 1000;
    padding: min(10vh, 10em) 2em;

    background: hsl(0, 0%, 0% / 0.1);
    /* backdrop-filter: blur(1rem); */
  }

  .mobile-nav-toggle {
    position: fixed;
    z-index: 9999;
    width: 2rem;
    aspect-ratio: 1;
    top: 2rem;
    right: 2rem;
  }
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

.primary-nav a {
  text-decoration: none;
  font-family: "Times New Roman", Times, serif;
  color: snow;
  letter-spacing: 3px;
  font-weight: bold;
  font-size: 14px;
  text-transform: uppercase;
}

.primary-nav a:hover {
  text-decoration: underline;
}

.flex {
  display: flex;
  gap: var(--gap, 1rem);
}

.article-intro {
  display: inline-block;
  text-align: center;
  margin-left: 6.65%;
}

.article-intro h1 {
  user-select: none;
  font-size: 100px;
  color: white;
  background: repeating-linear-gradient(
    -45deg,
    red 0%,
    yellow 7.14%,
    rgb(0, 255, 0) 14.28%,
    rgb(0, 255, 255) 21.4%,
    cyan 28.56%,
    blue 35.7%,
    magenta 42.84%,
    red 50%
  );
  background-size: 600vw 600vw;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  animation: slide 19s linear infinite forwards;
}
@keyframes slide {
  0% {
    background-position-x: 0%;
  }
  100% {
    background-position-x: 600vw;
  }
}

audio {
  margin-top: 1em;
}

h1 {
  display: inline-block;
  font-family: Gill Sans MT Condensed;
  font-size: 125px;
}

.column-container {
  display: flex;
  width: 85%;
  height: 100%;
  margin: 0 auto;
}

.column2,
.column3 {
  width: 33%;
  float: center;
  margin: 0 1em;
}

.column1 {
  width: 33%;
  float: left;
  margin: 2em 1em;
  text-align: left;
}

.column2 {
  text-align: center;
  margin-top: -13.5em;
}

.column3 {
  text-align: right;
  margin-top: -13.5em;
}

.igor-container {
  width: 0em;
  height: 0em;
  margin-top: 4em;
  display: flex;
  align-items: center;
  justify-content: center;
}

.igor-image {
  width: 80em;
  height: auto;
  padding-top: 4em;
  padding-left: 20em;
}

.ladderman-container {
  width: 0em;
  height: 0em;
  margin-top: 4em;
  display: flex;
  align-items: center;
  justify-content: center;
}

.ladderman {
  width: auto;
  height: 140em;
  margin-top: 154em;
  margin-left: 70em;
}

.bullet-container {
  width: 0em;
  height: 0em;
  margin-top: 4em;
  display: flex;
  align-items: center;
  justify-content: center;
}

.bullet {
  width: auto;
  height: 65em;
  margin-left: 78em;
  margin-top: 60em;
}
#T {
  display: block;
  width: 100%;
  text-align: left;
}

#Z {
  display: block;
  width: 100%;
  text-align: right;
}

.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: 15%;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  text-decoration: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
  text-decoration: none;
}
